body, html {
    height: 100%;
}  
.mt-25p {
    margin-top: 25%;
}
.light-bg {
    background-color: #f1f1f3;
}
.monospacedFont {
    font-family: monospace !important;
}
.mediumSizedText {
    font-size: 1.2em !important; 
}